[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgmpy = "*"
pylint = "*"
"autopep8" = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
"neo4j" = "*"

[dev-packages]

[requires]
python_version = "3.6"
